.form{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
form h2 {
    color: white;
}
.form__inputs-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form__input-name{
    min-width: 300px;
    height: 10px;
    padding: 20px 25px;

    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    
}

.form__input-type{
    min-width: 300px;
    color: rgb(0 0 0 / 65%);
    padding: 20px 25px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.form__btn{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    width: 70px;

    background-color: rgba(255, 255, 255, 0.322);
    color: #FFFFFF;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}