.page{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid aliceblue;
    color: black;
    background-color: aliceblue;
}
.navigate-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    cursor: pointer;
}
.fa-solid__button{
    color: aliceblue;
    border: none;
    background: transparent;
}